<div id="{{id}}"></div>

<script>
  {
    const data = {
      labels: [
        {{#each labels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "{{name}}", type: "line",
          values: [
            {{#each values}}
              {{this}},
            {{/each}}
          ]
        }
      ]
    }

    const chart = new frappe.Chart("#{{id}}", {
      title: "{{name}}",
      data: data,
      type: "line",
      height: 180,
      colors: ["{{colour}}"],
      lineOptions: { dotSize: 5, regionFill: 1 },
      
      // https://stackoverflow.com/questions/48992610/how-to-give-gaps-in-x-axis-in-frappe-charts
      axisOptions: {
          xIsSeries: true,   //default:false
          yAxisMode: "span"
      },
    });
  }
</script>