<div class="box">
  <div class="title is-4">Reports List</div>
  <table class="table is-fullwidth is-bordered">
    <thead class="has-background-light">
      <tr>
        <th>Date/Time</th>
        <th>Code</th>
        <th>Temp</th>
        <th>Wind Speed</th>
        <th>Wind Direction</th>
        <th>Pressure</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each station.reports}}
      <tr>
        <td>
          {{timestamp}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{windSpeed}}
        </td>
        <td>
          {{windDirection}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a href="/station/{{../station._id}}/editreport/{{_id}}" class="button">
            {{>icons/edit}}
          </a>
        </td>
        <td>
          <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
            {{>icons/delete}}
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
