<h2 class="title is-4">
  {{title}}
</h2>
<div class="columns">
  <div class="column is-one-fifth">
    <div class="box reading has-background-black has-text-white">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="title has-text-white is-5">Location</div>
        </div>
        <div class="column">
          <span class="icon is-large">
            {{>icons/location}}
          </span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>Lat: {{latitude}}</p>
          <p>Long: {{longitude}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box reading has-background-black has-text-white">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="title has-text-white is-5">Weather</div>
        </div>
        <div class="column">
          <span class="icon is-large">
            {{#if latestReport.weatherIcon}}
            <img src='https://openweathermap.org/img/wn/{{{latestReport.weatherIcon}}}@2x.png'>
            {{else}}
            {{>icons/weather-station}}
            {{/if}}
          </span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>{{latestReport.weatherDescription}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box reading has-background-black has-text-white">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="title has-text-white is-5">Temp</div>
        </div>
        <div class="column">
          <span class="icon is-large">
            {{>icons/thermometer}}
          </span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>Currently {{#if latestReport.temp}}
          {{roundToOneDecimalPlace latestReport.temp}}°C/{{celsiusToFahrenheit latestReport.temp}}°F</p>{{/if}}
          <p>Max: {{#if analytics.maxTemp}}{{roundToOneDecimalPlace analytics.maxTemp}}°C</p>{{/if}}
          <p>Min: {{#if analytics.minTemp}}{{roundToOneDecimalPlace analytics.minTemp}}°C</p>{{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box reading has-background-black has-text-white">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="title has-text-white is-5">Wind</div>
        </div>
        <div class="column">
          <span class="icon is-large">
            {{>icons/wind}}
          </span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          {{#if latestReport.windSpeed}}
          <p>{{windSpeedToBeaufort latestReport.windSpeed}} bft</p>
          {{/if}}
          {{#if latestReport.windDirection}}
          <p>{{degreesToDirection latestReport.windDirection}}</p>
          {{/if}}
          {{#if latestReport.feelsLike}}
          <p>Feels like {{roundToOneDecimalPlace latestReport.feelsLike}}°C</p>
          {{/if}}
          <p>Max: {{#if analytics.maxWind}}{{roundToOneDecimalPlace analytics.maxWind}}km/h</p>{{/if}}
          <p>Min: {{#if analytics.minWind}}{{roundToOneDecimalPlace analytics.minWind}}km/h</p>{{/if}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="box reading has-background-black has-text-white">
      <div class="columns is-vcentered">
        <div class="column is-two-thirds">
          <div class="title has-text-white is-5">Pressure</div>
        </div>
        <div class="column">
          <span class="icon is-large">
            {{>icons/pressure}}
          </span>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <p>Currently: {{#if latestReport.pressure}}
            {{latestReport.pressure}} hpa</p>{{/if}}
          <p>Max: {{#if analytics.maxPressure}}{{analytics.maxPressure}} hpa</p>{{/if}}
          <p>Min: {{#if analytics.minPressure}}{{analytics.minPressure}} hpa</p>{{/if}}
        </div>
      </div>
    </div>
  </div>
</div>