<div class="box" id="map"></div>

<script>
  let map = L.map('map');
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  let marker;
  let markersGroup = new L.featureGroup();

  {{#if stations}}
    {{#each stations}}
      marker = L.marker([{{latitude}}, {{longitude}}]);
      marker.bindPopup(`<b>{{title}}</b><br>Lat: {{latitude}}, Long: {{longitude}}`);
      markersGroup.addLayer(marker);
    {{/each}}
    {{else}}
      marker = L.marker([{{latitude}}, {{longitude}}]);
      marker.bindPopup(`<b>{{title}}</b><br>Lat: {{latitude}}, Long: {{longitude}}`);
      markersGroup.addLayer(marker);
  {{/if}}
  markersGroup.addTo(map)

  map.fitBounds(markersGroup.getBounds(), {
    maxZoom: 10
  });
</script>